body {
  min-width: 320px;
  color: black;
}
h1 {
  margin: 100px;
}
.navbar {
  background: #410000;
}
.navbar .navbar-nav li a:focus,
.navbar .navbar-nav li a:hover {
  background: #230000;
}
.navbar .navbar-toggle {
  border-color: #230000;
  padding-top: 4px;
}
.navbar .navbar-toggle:active {
  background: #230000;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background: #230000;
}
.navbar-collapse {
  border: none;
}
.navbar-inverse {
  border-color: #ffffff;
}
.content {
  margin-top: 75px;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
.btn-default {
  background: #902B2B;
}
.btn-default:hover {
  background: #650F0F;
}
.main-banner,
.title-banner {
  margin: 10px;
  text-align: center;
  font-family: 'Dancing Script', cursive;
  font-size: 3em;
}
@media (max-width: 767px) {
  .main-banner,
  .title-banner {
    font-size: 2.5em;
  }
}
@media (max-width: 550px) {
  .main-banner,
  .title-banner {
    font-size: 2em;
  }
}
@media (max-width: 450px) {
  .main-banner,
  .title-banner {
    font-size: 1.5em;
  }
}
@media (max-width: 375px) {
  .main-banner,
  .title-banner {
    font-size: 1.25em;
  }
}
.title-banner {
  font-weight: 700;
  margin-bottom: 25px;
}
textarea {
  resize: none;
}
iframe {
  height: 300px;
}
.hotel-info {
  text-align: left;
  margin: auto;
}
.hotel-info,
iframe {
  width: 60%;
}
@media (max-width: 400px) {
  .hotel-info,
  iframe {
    width: 90%;
  }
}
@media (max-width: 600px) {
  .hotel-info,
  iframe {
    width: 80%;
  }
}
.gmap {
  text-align: center;
}
img {
  width: 100%;
  height: auto;
}
.jumbotron {
  padding: 40px;
}
@media (max-width: 767px) {
  .jumbotron {
    padding: 15px;
  }
}
.details-jt h3 {
  font-size: 1.5em;
}
.details-jt p {
  font-size: 1.25em;
}
@media (max-width: 600px) {
  .details-jt h3 {
    font-size: 1.25em;
  }
  .details-jt p {
    font-size: 1em;
  }
}
