@import "variables";

body {
  min-width: 320px;
  color: black;
}

h1 {
  margin: 100px;
}

.active {
  background: @dark-red;
}

.navbar {
  background: @main-red;
  .navbar-nav {
    li {
      a:focus, a:hover {
        background: @dark-red;
      }
    }
  }
  .navbar-toggle {
    border-color: @dark-red;
    padding-top: 4px;
  }
  .navbar-toggle:active { background: @dark-red; }
  .navbar-toggle:hover, .navbar-toggle:focus {
    background: @dark-red;
  }
}

.navbar-collapse {
  border: none;
}

.navbar-inverse {
  border-color: @main-red;
}

.content {
  margin-top: 75px;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

.btn-default {
  background: @lightest-red;
  &:hover {
    background: @light-red;
  }
}

.main-banner, .title-banner {
  margin: 10px;
  text-align: center;
  font-family: 'Dancing Script', cursive;
  font-size: 3em;
  @media(max-width: 767px) { font-size: 2.5em; }
  @media(max-width: 550px) { font-size: 2em; }
  @media(max-width: 450px) { font-size: 1.5em; }
  @media(max-width: 375px) { font-size: 1.25em; }
}

.title-banner {
  font-weight: 700;
  margin-bottom: 25px;
}

textarea {
  resize: none;
}

img {
  width: 100%;
  height: auto;
}

.jumbotron {
  padding: 40px;
  @media(max-width: 767px) {
    padding: 15px;
  }
}

.email-form {
  h4 {
    font-size: 1.2em;
    @media(max-width: 450px) { font-size: 1em; }
  }
}

.confirmation {
  h3 {
    font-family: 'Dancing Script', cursive;
    font-size: 2em;
    margin-bottom: 20px;
  }
  p { font-size: 1.25em; }
  @media(max-width: 600px) {
    h3 { font-size: 1.7em; }
    p { font-size: 1em; }
  }
}
