@import "variables";

body {
  font-family: 'Slabo 27px', serif;
  min-width: 320px;
}

h1 {
  margin: 100px;
}

.navbar {
  background: @main-red;
  .navbar-nav {
    li {
      a:focus, a:hover {
        background: @dark-red;
      }
    }
  }
  .navbar-toggle {
    border-color: @dark-red;
    padding-top: 4px;
  }
  .navbar-toggle:active { background: @dark-red; }
  .navbar-toggle:hover, .navbar-toggle:focus {
    background: @dark-red;
  }
}

.navbar-collapse {
  border: none;
}

.navbar-inverse {
  border-color: @white;
}

.content {
  margin-top: 60px;
  width: 100%;
}

.btn-default {
  background: @lightest-red;
  &:hover {
    background: @light-red;
  }
}

.title-banner {}

textarea {
  resize: none;
}

iframe {
  height: 300px;
}

.hotel-info {
  text-align: left;
  margin: auto;
}

.hotel-info, iframe {
  width: 60%;
  @media(max-width: 400px) { width: 90%; }
  @media(max-width: 600px) { width: 80%; }
}

.gmap {
  text-align: center;
}
